@import "bootstrap/scss/bootstrap";
@import "../../node_modules/@fontsource/fredoka/variable-full.css";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

body {
    font-family: "Fredoka", sans-serif;
}